

@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
body{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    
    
}
.first
{
    margin-left: 200px;
    margin-right: 200px;
}
header
{
    
    height:175px;
    background-color:#ADD8E6;
    margin-left: 323px;
    margin-top: 51px;
    width:701px;
    position: relative;
    border-radius: 8px;
    
}
.a
{
    height:200px;  
    
.a1
{
    position: absolute;
    top:20px;
    left:116px;
    font-family:"Delius", cursive;
    color:#4682B4 ;
    font-size: large;
}
}
.a2
{
   position:absolute;
   top:64px;
   left:144px;
   font-family:"Rouge Script", cursive;
   color: #005A9C;
}

hr
{
    border-color: #87CEEB;
    width: 40%;
    position: absolute;
    top:189px;
    left: 581px;
    border-top: 1px dashed;
   
}
.b
{   margin-top:-5px;
    display:flex;
    flex-direction: row;
    
}
aside
{
    width:35%;
    height:1484px;
    background-color: #B9D9EB;
    display:flex;
    flex-direction: column;
    gap:63px;
    
    
}
.b1
{
    padding-left:33px;
    padding-top:50px;
}
.b1-data
{
    padding-left:-16px;
    padding-top:32px;
    display:flex;
    flex-direction: column;
    gap:20px;
    font-family:"Delius Swash Caps", cursive; 
    color:#003153;
}
.b1-contact
{
    color:#003153;
    font-family:"Yellowtail", cursive;
    font-size: 33px;
}
.b1-mail
{
    display:flex;
    flex-direction: row;
    gap:10px;
}
.b1-gmail
{
    font-size: 26px;
}

.b2
{
    padding-left:12px;
    padding-top:0px;
}
.b2-ed
{
    color:#003153;
    font-family:"Yellowtail", cursive;
    font-size: 33px;
    padding-left: 35px;
}
.b2-data
{
    padding-left:10px;
    padding-top:32px;
    display: flex;
    flex-direction: column;
    gap:20px;
    
}
.b2-col
{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap:0px;
    padding-top: 20px;
    color:#004687;
     
}

li
{
    margin: 14px;
    
    padding-left:0px;
    padding-top:10px;
    font-size: 28px;
    margin: -28px;
    
    color: #004687;
    font-family: "Delius Swash Caps", cursive; 
}
.b3
{
    padding-left:12px;
    padding-top:-17px;
}
.b3-lang
{
    color:#003153;
    font-family:"Yellowtail", cursive;
    font-size: 33px;
    padding-left:25px;
}
.b3-list li
{
    list-style:circle;
    margin:-3px;
    font-family: "Delius Swash Caps", cursive; 

}
.b4
{
    padding-left:12px;
    padding-top:0px;
}
.b4-interset
{
    color:#003153;
    font-family:"Yellowtail", cursive;
    font-size: 33px;
    padding-left:25px;
}
.b4-list li
{
    list-style:none;
    margin:-3px;
    font-family: "Delius Swash Caps", cursive; 
}


main
{
    width:70%;
    height:1484px;
    background-color:#E0FFFF;
    
}
.right1
{
    background-color:#B9D9EB;
    width:663px;
    margin-left:20px;
    height:28px;
}
.right-title1
{
    padding-left:15px;
    padding-top:5px;
    font-family:"Delius", cursive;
    color:#2E5090;
    font:bold;
}
.right-para
{
    font:bolder;
    font-size: 24px;
    line-height: normal;
    font-family: "Tangerine", cursive;
}
.right2
{
    background-color:#B9D9EB;
    width:663px;
    margin-left:20px;
    height:28px;
    margin-left:19px;
    margin-top:241px;
}
.right-title2
{
    padding-left:15px;
    padding-top:5px;
    font-family:"Delius", cursive;
    color:#2E5090;
    font:bold;
}
.right-content
{
    font-size: 25px;
}
.right3
{
    background-color:#B9D9EB;
    width:663px;
    margin-left:20px;
    height:28px;
    margin-left:19px;
    margin-top:104px;
}
.right-title3
{
    padding-left:15px;
    padding-top:5px;
    font-family:"Delius", cursive;
    color:#2E5090;
    font:bold;
}



